---
import BaseLayout from '../layouts/BaseLayout.astro';
import Project from '../components/Project.astro';

import projects from './../data/projects.json';
---
<BaseLayout title='Valentin Gutierrez'>
  <h1>Projects</h1>
  
  {projects.map(p => 
    <Project
      title={p.title}
      description={p.description}
      thumbnail={p.thumbnail}
      technologies={p.technologies}
      actions={p.actions}
    />
  )}
  <h1>Experience</h1>
  <h1>Who I am</h1>
</BaseLayout>
